extends layout

block content
  h1= title
  p Welcome to #{title}
  video(id='vid', class="video-js", controls=false, preload="auto", width:100%, height:100%)
    source(id='src', src='https://hw18.cdn.asset.aparat.com/aparat-video/e93ac808ee00a8342d2ff19a5978ca7027281914-360p.mp4?wmsAuthSign=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJ0b2tlbiI6ImRkMGIwNDE0MmMyMTI4OTcyYmNmZGYyNDkzMWE1ZmIzIiwiZXhwIjoxNjA2NDAzNzc1LCJpc3MiOiJTYWJhIElkZWEgR1NJRyJ9.hUxSfjOgAWFNQ_kkClfL0F4ZhaLHBNY9FMl7cWYdLwQ')
  //- script.
  //-   var video = document.getElementById('src')
  //-   video.src = "blob:http://localhost:3000/66c5be60-cbf6-452e-aaa4-aa33ecfe9d71"

//- URL.createObjectURL(new Blob(['//localhost:8000/video.mp4']))
//- "blob:http://localhost:3000/6fbb1a28-9f27-489e-9afa-f58df7830ab6"
//- URL.createObjectURL(new Blob(['http://localhost:8000/video.mp4']))
//- "blob:http://localhost:3000/5785d735-bf90-426e-8d65-a5fa7ea48f03"
